<app-header></app-header>
<div class="section">
  <div class="columns">
    <div class="column" *ngFor="let post of blogPosts">
      <div class="card">
        <div class="card-header">
          <h2 class="card-header-title">{{ post.title }}</h2>
        </div>
        <div class="card-content">
          <p class="subtitle">{{ post.content }}</p>
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <p>Written by: {{ post.author.name }}</p>
            <p>On: {{ post.dateCreated | date: "MM/dd/yyyy" }}</p>
          </div>
          <div class="card-footer-item">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="post.published" />
              Published
            </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <div class="buttons">
              <button class="button is-primary">Edit</button>
              <button class="button is-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
